.create-form {
  border-radius: 16px;
  padding: 2rem 2rem;
  width: min(90%, 35rem);
  box-shadow: 0 0 10px rgb(25, 50, 81, 10%), 0 20px 40px rgb(25, 50, 81, 50%);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.create-form__input {
  width: 100%;
}

.create-form__textarea {
  resize: none;
  width: 100%;
}

.create-form__submit {
  width: 100%;
  padding: 0.5rem 0.25rem;
  background: var(--color-letters);
  color: white;
  border-style: none;
  border-radius: 0.312rem;
  cursor: pointer;
}

.create-form__submit:hover {
  background: var(--color-highlight);
}
