.nav-bar {
  background: var(--color-letters);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar__button {
  width: 100%;
  background: var(--color-letters);
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  border: none;
  cursor: pointer;
}

.nav-bar__logo {
  fill: white;
}

.nav-bar__button:hover {
  background: var(--color-highlight);
}
