* {
  border: 1px solid black;
}

.nav-bar {
  background: var(--color-background-akzent);
}

.nav-bar__list {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.nav-bar__list-item {
  padding: 1rem;
}

.nav-bar__logo {
  width: 100%;
  height: auto;
}
